.gallery-item {
  height: 200px;
  width: 360px;
}
@media only screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1128px) {
  .gallery-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

.gallery-item:hover,
.gallery-item:focus {
  height: 208px;
  width: 376px;

  justify-content: center;
  align-items: center;
  place-self: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.gallery:hover {
  gap: 20px 16px;
}

.gallery-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 24px;
  list-style-type: none;
}
@media only screen and (max-width: 767px) {
  .gallery {
    flex-direction: column;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1128px) {
  .gallery {
    padding: 24px, 156px;
    max-width: 1128px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 164px;
  margin: 0 auto;
  max-width: 1112px;
  height: 640px;
}

.modal-image {
  max-width: 1112px;
}
